<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sentence Aligned Files</title>
</head>
<body>
  <div class="summary_page">
    <div class="summary_child">
      <tbody>
        <tr class='clickable-row' data-href='url://'>
            <td>Blah Blah</td> <td>1234567</td> <td>£158,000</td>
        </tr>
      </tbody>
    </div>
  </div>

  
</body>
</html>